body {
    margin: 0;
    font-family: Inter;
    color: white;
    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.85)),
        url("6d734603-56e5-4f46-83e4-88f0aad1c974.png");
    background-size: cover;
    background-position: center;
}

/* LOADER */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Orbitron;
    font-size: 20px;
    z-index: 999;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 120px;
}

.glow {
    font-family: Orbitron;
    font-size: 50px;
    text-shadow: 0 0 15px white;
}

/* PLAYER */
.player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;

    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(15px);

    border-radius: 16px;
    padding: 15px;

    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* FIX BUTTON CLICK ISSUE */
.player * {
    pointer-events: auto;
}

/* BANNER */
.banner {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* PROGRESS */
.progress-bar {
    height: 4px;
    background: rgba(255,255,255,0.2);
    margin: 10px 0;
}

#progress {
    height: 100%;
    width: 0%;
    background: white;
}

/* BUTTONS */
.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    background: rgba(255,255,255,0.1);
    color: white;

    transition: 0.2s;
}

.controls button:hover {
    background: white;
    color: black;
}

/* VOLUME */
#volume {
    width: 100%;
    margin-top: 10px;
    height: 4px;
    background: rgba(255,255,255,0.3);
}

#volume::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
